<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <title>test</title>
</head>
<body>
    <div id="app">
        <h1> {{ msg }} </h1>
        <div class="box">
            姓名：<input type="text" v-model='name'>
            年龄：<input type="text" v-model='age'>
        </div>
        <div class="btn" v-on:click='sub'>submit</div>
        <div class="result">
            <h4>返回结果</h4>
            <ul>
                <li> 姓名： {{ re.name ? re.name : '' }} </li>
                <li> 年龄： {{ re.age ? re.age : '' }} </li>
                <li> 性别： {{ re.islady ? '女士' : '男士' }} </li>
            </ul>
            <div class="console">
                <h3> console.log </h3>
                <p> {{ console }} </p>
                <!-- <ul v-for= "i in console">
                    <li> {{ i }} </li>
                </ul> -->
            </div>
        </div>
        <div class="result testbox">
            <div class="btn" v-on:click='tocount'>点击 计时</div>
            <span>数字 {{ count }} </span>
            <div class="clear" v-on:click='stop'>暂停</div>
            <div class="clear" v-on:click='clear'>清除</div>
            <div class="msg"> {{ countmsg }} </div>
        </div>
        <div class="result testbox">
            <h3>class</h3>
            <div class="btn" v-on:click='getTest'>测试class</div>
            <div class="content">
                <h4>返回结果</h4>
                <div> {{ class_result }} </div>
            </div>
        </div>

        <div class="result testbox dbcreate">
            <h3>创建数据库</h3>
            <div class="btn_box">
                <div class="btn" v-on:click='db_crate'>创建数据库</div>
                <div class="btn" v-on:click='db_table'>创建表</div>
            </div>
            <div class="content">
                <h4>返回结果</h4>
                <ul class="result_box">
                    <li> 创建数据库： {{ return_text1 }} </li>
                    <li> 创建表： {{ return_text2 }} </li>
                </ul>
            </div>
        </div>
        <div class="result testbox dbtest">
            <h3>数据库操作</h3>
            <div class="btn_box">
                <div class="btn" v-on:click='db_link'>测试链接</div>
                <div class="btn" v-on:click='db_add'>测试添加数据</div>
                <div class="btn" v-on:click='db_delete'>测试删除数据</div>
                <div class="btn" v-on:click='db_edit'>测试修改数据</div>
                <div class="btn" v-on:click='db_search'>测试查找数据</div>
            </div>
            <div class="content">
                <h4>返回结果</h4>
                <ul class="result_box">
                    <li> {{ db_link_result }} </li>
                    <li> {{ db_add_result }} </li>
                    <li> {{ db_delete_result }} </li>
                    <li> {{ db_edit_result }} </li>
                    <li> {{ db_search_result }} </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
       var vm = new Vue({
           el: "#app",
           data: {
               msg: 'hello test',
               name: '',
               age: '',
               count: 1,
               re: {
                   name: '',
                   age: ''
               },
               timer: 0,
               status: false,
               countmsg: '',
               console: '',
               class_result: '',
               // create
               return_text1: '',
               return_text2: '',
               // db
               db_add_result: '',
               db_search_result: '',
               db_delete_result: '',
               db_edit_result: '',
               db_link_result: ''
           },
           methods: {
               sub() {
                axios.get('./api/api.php?name='+this.name+'&&age='+this.age).then(res=> {
                    console.log(res)
                    console.log(res.data)
                    this.re = res.data
                    this.console = res.data
                })
               },
               getTest(){
                   axios.get('./api/class.php').then(res=> {
                       this.class_result = res.data
                   })
               },
               db_link() {
                   axios.get('./api/db_link.php').then(res=> {
                       this.db_link_result = res.data
                   })
               },
               db_add() {
                   axios.get('./api/db_add.php').then(res=> {
                       this.db_add_result = res.data
                   })
               },
               db_edit() {
                   axios.get('./api/db_edit.php').then(res=> {
                       this.db_edit_result = res.data
                   })
               },
               db_search() {
                   axios.get('./api/db_search.php').then(res=> {
                       this.db_search_result = res.data
                   })
               },
               db_delete() {
                   axios.get('./api/db_delete.php').then(res=> {
                       this.db_delete_result = res.data
                   })
               },
               // create database
               db_crate() {
                   axios.get('./api/db_create.php').then(res=> {
                       this.return_text1 = res.data
                   })
               },
               db_table(){
                   axios.get('./api/db_table.php').then(res=> {
                       this.return_text2 = res.data
                   })
               },
               tocount() {
                   if(this.status){
                       console.log('计数中 请回！')
                       this.countmsg = '计数中 请回！'
                       return
                   }else {
                        this.timer = setInterval(()=> {
                        this.count++
                    }, 500)
                    this.status = true
                    this.countmsg = '计数器启动'
                   }
               },
               stop() {
                   clearInterval(this.timer)
                   this.countmsg = '计数暂停中'
                   this.status = false
               },
               clear() {
                   clearInterval(this.timer)
                   this.count = 1
                   this.status = false
                   this.countmsg = '计数器清除了。。。'
               }
           }
       })
    </script>
</body>
</html>