<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="./js/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>update</title>
</head>
<body>
    <div id="app">
        <h1> {{msg}} </h1>
        <ul class="panel">
            <li><span>firstname：</span> <input type="text" name="firstname" id="" v-model='firstname'></li>
            <li><span>lastname：</span> <input type="text" name="lastname" id="" v-model='lastname'></li>
            <li><span>email：</span> <input type="email" v-model='email'></li>
            <li>
                <div class="btn_box">
                    <div class="sign" v-on:click='update'>修改</div>
                </div>
            </li>
        </ul>
        <div class="box">
            <h2> 返回消息 </h2>
            <div class="content">
                {{ return_msg }}
            </div>
        </div>
        <!-- <div class="userList">
            <ul>
                <li v-for='i in list'>  用户名：{{ i.firstname }} {{ i.lastname }} 邮箱：{{ i.email }} 唯一ID值：{{ i.id }} </li>
            </ul>
        </div> -->
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                msg: 'update',
                firstname: '',
                lastname: '',
                email: '',
                //
                return_msg: '',
                list: [],
                // 假设id为5的sb已经登陆
                id: 7
            },
            methods: {
                update() {
                    var params = new URLSearchParams()
                    params.append('firstname', this.firstname)
                    params.append('lastname', this.lastname)
                    params.append('email', this.email)
                    params.append('userid', this.id)
                    axios.post('./api/update.php', params).then(res=> {
                        this.return_msg = res.data
                        console.log(res.data)
                        // this.list = res.data
                    })
                }
            }
        })
    </script>
</body>
</html>